.altura-img{
    height: 200px;;
}
.matched {
    pointer-events: none;
}
.tiempoAgotado{
    color: whitesmoke;
    font-size: 25px;
}
.tablero div img:hover{
    transform: scale(1.3);
    box-shadow: -5px 0px 26px 3px blue;

}

.fondo1, .fondo2 , .fondo3{
    background-image: url(imagenes/fondo2.jpg);
    background-size: cover;
    height: 100vh;
}
.fondo1{
    background-image: url(imagenes/fondo1.jpg);
}